:root {
	--red: #d8432a;
	--black: #0e140a;
}

body {
  font-family: "Mona Sans", sans-serif !important;
}
.home-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/bg.png") !important;
  background-repeat: no-repeat;
  background-color: black;
}
.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

.home-page__title {
  font-size: 3.8rem;
  font-weight: 600;
  padding-bottom: 10px;
}

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  12.5% {
    transform: translateY(-12.5%);
  }
  25% {
    transform: translateY(-25%);
  }
  37.5% {
    transform: translateY(-37.5%);
  }
  50% {
    transform: translateY(-50%);
  }
  62.5% {
    transform: translateY(-62.5%);
  }
  75% {
    transform: translateY(-75%);
  }
  87.5% {
    transform: translateY(-87.5%);
  }
}

.tag-lilne {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
}

.btn-custom {
  position: relative;

  border: 2px solid #00d9ff;
  background: rgb(255, 255, 255) !important;
  color: #00d9ff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 15px;
}

.btn-custom:hover {
  color: #fff;
  border-color: #fff !important;
  background: rgba(15, 2, 26, 0.4) !important;
}

.btn-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: left 0.6s;
}

.btn-custom:hover::before {
  left: 100%;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  animation: ripple-effect 0.6s linear;
  pointer-events: none;
}

@keyframes ripple-effect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.nav-wrapper{
  background-color: transparent !important;
}
.nav-inner{
  background-color: black !important;
  border:1px solid !important;
  border-color: rgb(38, 38, 38) !important;
}
.navbar-nav{
  flex-direction: row !important;
}
.navbar-nav a{
  text-decoration: none !important;
  color: white !important;
}
.nav-link a {
  position: relative;
  text-decoration: none;
  color: white;
}

.nav-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

.nav-link a:hover::after {
  width: 100%;
}

.wrapper-inner{
  flex-direction: column;
}
